body {
    margin: 1;
    background-image: url("images/pedreira.jpg");
    background-size: cover;
}


/* TELA DE LOGIN, BORDAS E BOTAO DE ENTRAR*/

.bem-vindo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;

    color: rgb(0, 0, 0);
    font-size: 28px;
}

.login-user {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.login-user input {  
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
    border-radius: 2px;
}

.login-user button {
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    border-radius: 2px;
    transition: 500ms;
}

.login-user button:hover {
    
    color: rgb(0, 255, 51);
    transition: 500ms;
    border: 1px solid black;
    outline: none;
    background-color: rgba(0, 0, 0, 0.725);
}

/* BARRA DO MENU APOS O LOGIN e OUTRAS ABAS */

.navegacao {

    background-color: orange;
    height: 35px;
    text-align: center;
    border-radius: 8px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 30px;
    
}

.navegacao a {

    text-decoration: none;
    color: black;
    padding: 10px;
    
    display: inline;
    margin-right: 20px; 
    transition: 300ms;
}

.navegacao a:hover {

    font-size: 30px;
    transition: 300ms;
}

    


