/* CORPO DO CODIGO */

body {
    background-image: url(/static/images/pedreira.jpg);
    background-size: cover;
    margin: 2;
    display: flex;
    justify-content: center;
}

/*CORPO DA TELA DE LOGIN */

.container-login {
    background-color: rgba(255, 166, 0, 0.222);
    border-radius: 20px;
    height: 250px;
    width: 900px;
    margin: 50px;

    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: auto;
}

/*INPUTS DA TELA DE LOGIN*/

.login-user {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.login-user input {
    border: solid rgba(255, 255, 255, 0) 1px;
    padding: 20px;
    width: 300px;
    border-radius: 30px;
    background-color: rgb(255, 166, 0);
    font-size: 15px;
}

.login-user input:focus {
    background-color: #ffffff93;
    transition: 12ms;
    border: solid rgba(255, 255, 255, 0) 1px;
    outline: none;
}

.login-user button {
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 30px;
    background-color: rgba(255, 166, 0, 0.348);
    font-size: 14px;
    padding: 22px;
    transition: 300ms;
}

.login-user button:hover {
    background-color: rgba(255, 255, 255, 0.667);
    transition: 300ms;
    font-size: 17px;
}

/*BARRA DE NAVEGACAO 👇*/ 