<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos ativos</title>
</head>
<body>
    <h1>em producao...</h1>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #dedede;
        }
        h1 {
            color: #333;
        }
    </style>
</body>
</html>