<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
 <body>
  <div class="navegacao">
    <nav>
      <a href="index.html" class="botao1">MENU</a>
      <a href="{{ url_for('contratos') }}" class="botao2">CONTRATOS</a> 
      <a href="resumo.html" class="botao3">RESUMO</a>
    </nav>
  </div>
<div class="inicio-login">
  <h2>BEM-VINDO(A)</h2>
   <h3>ACOMPANHE AS ULTIMAS ATUALIZACOES ABAIXO</h3>
</div>
</body>
</html>
    
  
      
    