<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página inicial</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
  <body>
  
        <main>

        <div class="bem-vindo">
          <footer>
            <h1>BEM-VINDO(a)</h1>
             <h4>REALIZE O LOGIN ATRAVÉS DAS CREDENCIAIS ABAIXO</h4>
          </footer>
        </div>
        

          <div class="login-user">
              <form method="POST" action="/login">

                  <input type="text" name="username" placeholder="usuario" required>
                    <input type="password" name="password" placeholder="senha"  required>
                  <button type="submit">ENTRAR</button>
              </form>
            </div>
        </main>
    </div>

    
  </body>
</html> 